* {
    margin: 0;
    padding: 0;
    background: hsl(226, 43%, 10%)
}

.container {
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 80%;
    width: 80%;
    border: 2px solid pink;
}