* {
    margin: 0;
    padding: 0;
    background: rgba(31, 29, 54, 255);
}

.container {
    height: 97vh;
    width: 97vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 80%;
    width: 80%;
    border: 2px solid pink;
}

.profile img {
    height: 6vh;
    width: 3vw;
    border-radius: 100px;
    border: solid white;
}

.profile h3,
.profile h2 {
    color: white;
    background: hsl(246, 80%, 60%);
}

.profile {
    display: flex;
    flex-direction: column;
    background: hsl(246, 80%, 60%);
    padding: 25px;
    border-radius: 10px;
}

.duration {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: gainsboro;
    padding: 25px;
    border-radius: 10px;
}

.one {
    background: hsl(235, 46%, 20%);
}

.two {
    background: hsl(15, 100%, 70%);
    border-radius: 10px;
    display: flex;
    padding-right: 20px;
    position: relative;
}

.div-content {
    display: flex;
    position: absolute;
    background: hsl(235, 46%, 20%);
    border-radius: 18px;
    padding: 20px;
    margin-top: 2%;
    justify-content: space-between;
}

.icon {
    height: 30px;
    weight: 30px;
    opacity: 30%;
}

.duty {
    display: flex;
    justify-content: space-between;
}

.duty h4 {
    color: white;
    background: hsl(235, 46%, 20%);
}

.el {
    height: 5px;
}

.time {
    display: flex;
    flex-direction: column;
}

.hrs {
    color: white;
    background: hsl(235, 46%, 20%);
}

.lastweekhrs {
    color: lightgray;
    background: hsl(235, 46%, 20%);
}